@use '../abstract/index' as * ;


.footer{
    background-color: #0a172b;
    padding: 70px 0;

    &__wrapper{
        @include flex(space-between, flex-start, wrap);
        row-gap: 2rem;
    }

    &__item{
        flex: 0 0 22%;
    }

    &__logo{
        width: 200px;
    }

    &__p{
        font-size: 15px;
        color: #bbb9b9;
        margin-top: 1.6em;
    }

    &__title{
        font-size: 24px;
        font-size: 1.6rem;
        font-weight: 500;
        color: #ebebeb;
        margin-bottom: 1.5rem;
    }

    &__list{
        display: flex;
        gap: 1rem;
        flex-direction: column;

        .fa-solid{
            color: $secondary-color;
            font-size: 0.9rem;
        }
    }

    &__link{
        color: #bbb9b9;
        font-size: 15px;
        text-transform: capitalize;

        &:hover{
            color: $secondary-color;
        }
    }

    &__contact{

        &:not(:last-child){
            margin-bottom: 0.5rem;
        }

        span{
            color: $secondary-color;
            margin-right: 0.4rem;
        }
    }
}