@use '../abstract/index' as * ;


.footer{
    background-color: #0a172b;
    padding: 70px 0;

    &__wrapper{
        @include flex(space-between, flex-start, wrap);
        row-gap: 2rem;

        @include rwd(992){ flex-direction: column; }
    }

    &__item{ flex: 0 0 22%; }

    &__title{
        font-size: 1.6rem;
        font-weight: 500;
        color: #ebebeb;
        margin-bottom: 1.5rem;
        position: relative;
        padding-bottom: 1rem;

        &::before{
            @include position(absolute, auto, auto, 0, 0, 50px, 2px);
            background: $secondary-color;
            content: "";
        }
    }

    &__list{
        display: flex;
        gap: 1rem;
        flex-direction: column;

        .fa-solid{
            color: $secondary-color;
            font-size: 0.9rem;
        }
    }

    &__link{
        color: #bbb9b9;
        font-size: 15px;

        &:hover{ color: $secondary-color; }
    }
}