@use '../abstract/index' as * ;


.services{
    background-color: #f9f9f9;

    &__wrapper{
        @include flex(space-between, stretch, wrap);
        margin-top: 3rem;
        row-gap: 3rem;
    }
    
    &__item{
        flex: 0 0 30%;

        @include rwd(992){
            flex: 0 0 45%;
        }

        @include rwd(768){
            flex: 0 0 100%;
        }
    }

    i{
        border: 1px solid rgba(192, 181, 150, .5);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 1.2rem;
        text-align: center;
    }

    &__title{
        color: #373737;
        font-size: 24px;
        padding-bottom: 10px;
        position: relative;
        margin-bottom: 10px;
        margin-top: 0;

        &::before{
            @include position(absolute, auto, auto, 0, 0, 30px, 2px);
            background: $secondary-color;
            content: "";
        }
    }

    &__link{
        color: $primary-color;
        display: inline-block;
        margin-top: 1rem;

        &:hover{ color: $secondary-color; }
    }
}