* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.4;
  color: #727780;
}
@media (max-width: 576px) {
  body {
    font-size: 85%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  text-wrap: balance;
  font-family: "Playfair Display", serif;
  color: #333;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section {
  padding: 70px 0;
}

a {
  transition: 0.4s linear;
}

.container {
  width: 80%;
  margin: auto;
}
@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

.nav {
  background-color: #272c3f;
}
.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  padding: 1rem 0;
}
@media (max-width: 1300px) {
  .nav__top {
    display: none;
  }
}
.nav__contact {
  display: flex;
  gap: 2rem;
}
.nav__info {
  color: #fff;
  font-size: 0.9rem;
}
.nav__info .fa-solid {
  color: #c0b596;
  margin-right: 0.3rem;
}
.nav__btn {
  border: 2px solid #c0b596;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 0.5rem 1.7rem;
  border-radius: 47px;
  text-transform: capitalize;
  display: inline-block;
}
.nav__btn:hover {
  background-color: #c0b596;
}
.nav__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
}
.nav__logo {
  width: 220px;
}
.nav__list {
  display: flex;
  gap: 2rem;
}
.nav__item {
  height: 10vh;
  display: flex;
  align-items: stretch;
  line-height: 10vh;
}
.nav__link {
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}
.nav__link:hover, .nav__link.active {
  color: #c0b596;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  gap: 0;
  background-image: url("../../src/img/hero.jpg");
  padding: 0;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.hero__name {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}
.hero__heading {
  color: #fff;
  font-size: 60px;
  line-height: 90px;
  font-weight: 400;
  margin: 2rem 0;
  max-width: 650px;
}
.hero__btn {
  position: relative;
  background-color: #c0b596;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 10px 38px;
  border: 2px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 3px;
}
.hero__btn:hover {
  background-color: #272c3f;
}
.hero__btn:hover::before {
  left: -100px;
}
.hero__btn::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 50%;
  width: 85px;
  height: 2px;
  background: #fff;
  bottom: 0;
  transform: translateY(-50%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  row-gap: 2rem;
}
.about__item {
  flex: 0 0 47%;
}
.about__item--holder {
  position: relative;
}
.about__item--holder::before {
  content: "";
  background-color: #c0b596;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -20px;
  top: -20px;
  z-index: -1;
}
.about__heading {
  font-size: 30px;
  margin-bottom: 30px;
}
.about__p {
  margin-bottom: 30px;
}
.about__btn {
  background-color: #c0b596;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 10px 38px;
  border: 2px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 3px;
}
.about__btn:hover {
  background-color: #272c3f;
}

.services {
  background-color: #f9f9f9;
}
.services__subheading {
  font-size: 16px;
  color: #ada282;
  text-align: center;
}
.services__heading {
  font-size: 36px;
  color: #333;
  padding-bottom: 20px;
  margin-bottom: 60px;
  position: relative;
  text-transform: inherit;
  font-weight: 500;
  text-align: center;
}
.services__heading::before {
  content: "";
  position: absolute;
  left: 48%;
  bottom: 0;
  width: 60px;
  height: 3px;
  background: #c0b596;
}
.services__wrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3rem;
}
.services__item {
  flex: 0 0 30%;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.services img {
  padding: 0;
  border: 1px solid rgba(192, 181, 150, 0.5);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 75px;
  text-align: center;
}
.services__title {
  color: #373737;
  font-size: 24px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 0;
}
.services__title::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 30px;
  height: 2px;
  background: #c0b596;
}
.services__p {
  font-size: 15px;
}

.contact {
  background: linear-gradient(180deg, rgba(21, 26, 48, 0.9) 0%, #070c26 100%), url("../../src/img/contact.jpg");
}
.contact__wrapper {
  display: flex;
  justify-content: space-between;
}
.contact__item {
  flex: 0 0 47%;
}
.contact__heading {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 10px;
  position: relative;
  font-weight: 500;
  color: white;
}
.contact__p {
  margin-top: 30px;
  color: #ddd;
  line-height: 30px;
  font-size: 1rem;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact__box {
  display: flex;
  justify-content: space-between;
}
.contact__box input {
  width: 47%;
}
.contact__input {
  background: rgba(192, 181, 150, 0.2);
  height: 50px;
  padding: 6px 15px;
  color: #fff;
  border: 2px solid #454545;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(192, 181, 150, 0.5);
}
.contact__input::placeholder {
  font-size: 1.1rem;
}
.contact textarea {
  height: 150px;
}
.contact__btn {
  position: relative;
  background-color: #c0b596;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 10px 38px;
  border: 2px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 3px;
  cursor: pointer;
  transition: 0.4s linear;
  align-self: flex-start;
}
.contact__btn:hover {
  background-color: #272c3f;
}

.footer {
  background-color: #0a172b;
  padding: 70px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: wrap;
  gap: 0;
  row-gap: 2rem;
}
.footer__item {
  flex: 0 0 22%;
}
.footer__logo {
  width: 200px;
}
.footer__p {
  font-size: 15px;
  color: #bbb9b9;
  margin-top: 1.6em;
}
.footer__title {
  font-size: 24px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ebebeb;
  margin-bottom: 1.5rem;
}
.footer__list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.footer__list .fa-solid {
  color: #c0b596;
  font-size: 0.9rem;
}
.footer__link {
  color: #bbb9b9;
  font-size: 15px;
  text-transform: capitalize;
}
.footer__link:hover {
  color: #c0b596;
}
.footer__contact:not(:last-child) {
  margin-bottom: 0.5rem;
}
.footer__contact span {
  color: #c0b596;
  margin-right: 0.4rem;
}

/*# sourceMappingURL=main.css.map */
