* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.4;
  color: #727780;
}
@media (max-width: 576px) {
  body {
    font-size: 85%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  text-wrap: balance;
  font-family: "Playfair Display", serif;
  color: #333;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section {
  padding: 70px 0;
}

a {
  transition: 0.4s linear;
}

.container {
  width: 80%;
  margin: auto;
}
@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

.section-heading {
  font-size: 2rem;
  color: #333;
  padding-bottom: 20px;
  margin-bottom: 60px;
  position: relative;
  font-weight: 500;
  text-align: center;
}
.section-heading::before {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 48%;
  width: 60px;
  height: 3px;
  background: #c0b596;
  content: "";
}

.section-subheading {
  font-size: 16px;
  color: #ada282;
  text-align: center;
}

.nav {
  background-color: #272c3f;
}
.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  padding: 1rem 0;
}
@media (max-width: 1300px) {
  .nav__top {
    display: none;
  }
}
.nav__contact {
  display: flex;
  gap: 1.5rem;
}
.nav__info {
  color: #fff;
  font-size: 0.9rem;
}
.nav__info:hover {
  color: #c0b596;
}
.nav__info .fa-solid {
  color: #c0b596;
  margin-right: 0.3rem;
}
.nav__btn {
  border: 2px solid #c0b596;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 0.5rem 1.7rem;
  border-radius: 47px;
  text-transform: capitalize;
  display: inline-block;
}
.nav__btn:hover {
  background-color: #c0b596;
}
.nav__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
}
.nav__logo {
  width: 120px;
  height: 15vh;
}
.nav__list {
  display: flex;
  gap: 2rem;
}
@media (max-width: 992px) {
  .nav__list {
    display: none;
  }
}
.nav__item {
  display: flex;
  align-items: stretch;
  line-height: 15vh;
}
.nav__item--dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.nav__item--dropdown:hover > .nav__dropdown {
  display: flex;
}
.nav__item--dropdown span {
  color: #fff;
}
.nav__dropdown {
  background-color: #fff;
  position: absolute;
  top: 100%;
  width: 170px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  display: none;
}
.nav__dropdown a {
  color: #272c3f;
  text-transform: capitalize;
}
.nav__dropdown a:hover {
  color: #c0b596;
}
.nav__link {
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}
.nav__link:hover, .nav__link.active, .nav__link:hover + span {
  color: #c0b596;
}
.nav__hamburger {
  color: #c0b596;
  font-size: 2rem;
  cursor: pointer;
  display: none !important;
}
@media (max-width: 992px) {
  .nav__hamburger {
    display: block !important;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  gap: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/img/hero.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
@media (max-width: 992px) {
  .hero {
    align-items: center;
    text-align: center;
    height: 90vh;
  }
}
.hero__name {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}
.hero__heading {
  color: #fff;
  font-size: 3.5rem;
  line-height: 90px;
  font-weight: 400;
  margin: 2rem 0;
  max-width: 650px;
}
@media (max-width: 992px) {
  .hero__heading {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .hero__heading {
    font-size: 2.5rem;
    line-height: 1.4;
  }
}
.hero__btn {
  background-color: #c0b596;
  position: relative;
  font-weight: 600;
  color: #272c3f;
  padding: 10px 38px;
  border: 2px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 3px;
}
.hero__btn:hover {
  background-color: #272c3f;
  color: #fff;
}
.hero__btn:hover::before {
  left: -90px;
}
.hero__btn::before {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: -60px;
  width: 85px;
  height: 2px;
  transform: translateY(-50%);
  content: "";
  background: #fff;
  transition: 0.4s linear;
}

.about {
  display: flex;
  align-items: center;
  gap: 4rem;
}
@media (max-width: 992px) {
  .about {
    flex-direction: column;
    align-items: flex-start;
  }
}
.about__item {
  flex: 1;
}
.about__item--holder {
  max-width: 520px;
  position: relative;
}
.about__item--holder::before {
  position: absolute;
  top: -20px;
  right: auto;
  bottom: auto;
  left: -20px;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #c0b596;
  z-index: -1;
}
.about__img {
  height: auto;
  max-width: 100%;
}
.about__heading {
  font-size: 2rem;
}
.about__p {
  margin-top: 30px;
  line-height: 1.6;
}

.services {
  background-color: #f9f9f9;
}
.services__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  margin-top: 3rem;
  row-gap: 3rem;
}
.services__item {
  flex: 0 0 30%;
}
@media (max-width: 992px) {
  .services__item {
    flex: 0 0 45%;
  }
}
@media (max-width: 768px) {
  .services__item {
    flex: 0 0 100%;
  }
}
.services i {
  border: 1px solid rgba(192, 181, 150, 0.5);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 1.2rem;
  text-align: center;
}
.services__title {
  color: #373737;
  font-size: 24px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 0;
}
.services__title::before {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #c0b596;
  content: "";
}
.services__link {
  color: #272c3f;
  display: inline-block;
  margin-top: 1rem;
}
.services__link:hover {
  color: #c0b596;
}

.contact {
  background: linear-gradient(180deg, rgba(21, 26, 48, 0.9) 0%, #070c26 100%), url("../../src/img/contact.jpg");
}
.contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  row-gap: 2rem;
}
@media (max-width: 992px) {
  .contact__wrapper {
    justify-content: center;
  }
}
.contact__item {
  flex: 0 0 47%;
}
@media (max-width: 992px) {
  .contact__item {
    flex: 0 0 80%;
  }
}
@media (max-width: 576px) {
  .contact__item {
    flex: 0 0 100%;
  }
}
.contact__heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: #fff;
}
.contact__text {
  margin-top: 2rem;
  color: #ddd;
  line-height: 30px;
  font-size: 1rem;
}
.contact__list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact__social {
  color: #c0b596;
  text-transform: capitalize;
}
.contact__social:hover {
  opacity: 0.75;
}
.contact__social .fa-brands,
.contact__social .fa-solid {
  color: #c0b596;
  font-size: 1.1rem;
  margin-right: 0.5rem;
}
.contact__item--form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact__box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .contact__box {
    flex-direction: column;
    gap: 2rem;
  }
}
.contact__box input {
  width: 47%;
}
@media (max-width: 576px) {
  .contact__box input {
    width: 100%;
  }
}
.contact__input {
  background: rgba(192, 181, 150, 0.2);
  height: 3rem;
  padding: 6px 15px;
  color: #fff;
  border: 2px solid #454545;
  border: 1px solid rgba(192, 181, 150, 0.5);
}
.contact__input::placeholder {
  font-size: 1.1rem;
}
.contact textarea {
  height: 150px;
}
.contact__btn {
  background-color: #c0b596;
  color: #272c3f;
  font-weight: 600;
  padding: 10px 38px;
  text-transform: capitalize;
  display: inline-block;
  cursor: pointer;
  transition: 0.4s linear;
  align-self: flex-start;
}
.contact__btn:hover {
  background-color: #272c3f;
  color: #fff;
}

.footer {
  background-color: #0a172b;
  padding: 70px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: wrap;
  gap: 0;
  row-gap: 2rem;
}
.footer__item {
  flex: 0 0 22%;
}
.footer__logo {
  width: 200px;
}
.footer__p {
  font-size: 15px;
  color: #bbb9b9;
  margin-top: 1.6em;
}
.footer__title {
  font-size: 24px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ebebeb;
  margin-bottom: 1.5rem;
}
.footer__list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.footer__list .fa-solid {
  color: #c0b596;
  font-size: 0.9rem;
}
.footer__link {
  color: #bbb9b9;
  font-size: 15px;
  text-transform: capitalize;
}
.footer__link:hover {
  color: #c0b596;
}
.footer__contact:not(:last-child) {
  margin-bottom: 0.5rem;
}
.footer__contact span {
  color: #c0b596;
  margin-right: 0.4rem;
}

/*# sourceMappingURL=main.css.map */
